body{
   background-color: #121212;
    color: #e0e0e0;
    font-family: 'Space Mono', monospace; 
    line-height: 1.6;
    padding: 60px;
}

h1 { 
    font-family: 'Space Mono', monospace;
    font-size: 3rem; 
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
    text-align: left;
}

.intro {
    margin-top: 365px;
    margin-bottom: -20px;
    color:#333;
}


h2 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
    text-align: left;
}
.subtitle {
    color: #888;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

p {
    color: #ccc;
    line-height: 1.6;
    text-align: left;
    margin-top: 15px;
}

.project-card {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #333;
    transition: all 0.3s ease;
    
    width: 450px; 
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-card:hover {
    transform: translateY(-8px); 
    border-color: #6e2594;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

button {
    background-color: #6e2594;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Space Mono', monospace;

}
.my-button {
  color: white;
  display: inline-block;
  position: sticky;
  border-radius: 10px;
  border: 1px solid white;
    padding: 5px 25px;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
}

.my-button:hover {
  color: #6e2594;
  background-color: white;
}

.project-img {
    max-width: 300px;
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-left: 70px;
}
.project-container {
    display: flex;       
    flex-wrap: wrap;    
    gap: 20px;          
    justify-content: center; 
}
html {
  scroll-behavior: smooth;
}
#projects {
    margin-top: 300px;
}
#experience {
    margin-top: 300px;
    text-align: center;
}
input[type="radio"] {
    display: none;
}
.content {
    display: none;

}
#select-software:checked ~ .software-box {
  display: block; 
}

#select-hardware:checked ~ .hardware-box {
  display: block;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
    border: white solid 1px;
    margin-top: 20px;
    color: white;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: #4b1767;
    color: #e0e0e0;
}

#select-software:checked ~ .controls label[for="select-software"],
#select-hardware:checked ~ .controls label[for="select-hardware"] {
  color: white;
}
.controls {
    text-align: right;
    margin-top: -90px;
    margin-right: 70px;
}
.images {
    display: flex;
}
.profile {
    width: 600px;;
    height: 600px;
    object-fit: cover;
    float: right;
    margin-top: 50px;
}
.divider {
  border: 0;            
  height: 1px;          
  background: #242424;    
  margin: 40px 0;      
  width: 80%;         
  margin-left: auto;    
  margin-right: auto;
  margin-top: 200px;
}
.title {
    text-align: center;
    margin-bottom: 50px;
}
.item-container {
  display: flex;
  flex-direction: column;  
  align-items: center;      
  margin: 0;               
}

.item-container img {
  width: 100px;             
  height: 100px;
  object-fit: contain;    
  margin-bottom: 8px;   
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 100px;
}

.item-container figcaption {
  color: white;
  font-size: 0.9rem;
  font-family: 'Space Mono', monospace;
}
.name {
    margin-left: 60px;
    margin-top: 100px;

}
.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.experience-card {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #333;
    width: 800px;
}
.experience-card:hover {
    transform: translateY(-8px); 
    border-color: #6e2594;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.title {
    margin-top: 300px;
}
.my-button2 {
  display: inline-flex; 
  color: white;      
  justify-content: flex-end; 
  align-items: center;
  margin-left: 450px;
  padding: 10px;

}
.my-button3 {
    padding: 10px;
}
.my-button3 img{
    width: 40px;
    height: 40px;
}
.my-button2 img {
  width: 40px;
  height: 40px;
}
footer {
  text-align: center;
  padding: 40px 0;
  margin-top: 50px;
  border-top: 1px solid #333; 
}

footer p {
  color: #272727;        
  font-size: 0.8rem;  
  text-align: center;
}
.navigation {
  position: fixed;   
  top: 0;
  left: 20px;
  width: 100%;         
  z-index: 1000;        
  background-color: #121212;
}
